.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}

.nav-dropdown {
  margin-left: 100%;
}

.para {
  float: right;
}
.main-nav {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  z-index: 2;
}

.logo {
  color: white;
}
